@charset "UTF-8";

a {
  text-decoration: none;
}
  
a:hover {
  text-decoration: underline;
}

ul, ol {
  padding: 0;
}

ul li {
  position: relative;
  list-style-type: none!important;/*ポチ消す*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  line-height: 1.5;
  background: #f0f8ff;
  vertical-align: middle;
  color: #505050;
  border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
}

ul li:before{ 
  display:inline-block; 
  vertical-align: middle;
  /*以下白丸つくる*/
  content:'';
  width:1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff9b7;
  opacity: 0.4;
  z-index: -1;
}
.Diagonal_v2 {
  background: repeating-linear-gradient( -30deg, #fff147, #fff147 15px, #fff0b7 25px, #fff0b7 70px );
}
.Diagonal_v2_Org {
  background: repeating-linear-gradient( -30deg, #ffe137, #ffe137 15px, #fff0b7 25px, #fff0b7 70px );
}
